*.json
*.log
*.exe

keys/*
!keys/*/

# Ignore Terraform state files
terraform/.terraform
terraform/terraform.tfstate*
# Ignore Python virtual environment
spark/venv/
# Ignore Docker images
docker/my_image/
useful_commands.txt
